body {
    background-color: #f0f0f0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: 'Catamaran', sans-serif;
}

.error-container {
    text-align: center;
    color: #333;
}

.error-container h1 {
    font-size: 120px;
    margin: 0;
    animation: pulse 2s infinite;
}

.error-container p {
    font-size: 24px;
    margin: 0;
}

.back-home {
    display: inline-block;
    background-color: #333;
    color: #fff;
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 5px;
    margin-top: 20px;
}

@keyframes pulse {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.2);
    }
    100% {
        transform: scale(1);
    }
}
